<% layout("layouts/boilerplate") %>
<div class="OuterDiv container">
<% for(let i=0;i<listings2.length;i++) { %>
    <a class="listing-link" href="/Listings/<%=listings2[i]._id%>" style="text-decoration: none !important">
    <div class="listing-card" style="width: 20rem;">
  <img src="<%=listings2[i].image.path%>" class="card-img-top" alt="..." style="height: 20rem;">
 
  <div class="card-body">
    <p class="card-text" style="text-decoration: none !important;"><b><%=listings2[i].title%></b></p>
    <p class="card-text" style="text-decoration: none !important;">&#8377;<%=listings2[i].price.toLocaleString("en-IN")%>/night &nbsp;&nbsp <i class="taxinfo">+18%GST</i></p>
  </div>
</div></a>
  <% } %>
</div>
</div>
