<% layout("layouts/boilerplate") %>

<h1>All Listings</h1>

<div class="OuterDiv">
  <% allListings.forEach(listing => { %>
    <a class="listing-link"    href="/Listings/<%=listing._id%>" style="text-decoration: none !important">
    <div class="card" style="width: 20rem;">
  <img src="<%=listing.image%>" class="card-img-top" alt="..." style="height: 20rem;">
  <div class="card-img-overlay"></div>
  <div class="card-body">
    <p class="card-text" style="text-decoration: none !important;"><b><%=listing.title%></b></p>
    <p class="card-text" style="text-decoration: none !important;">&#8377;<%=listing.price.toLocaleString("en-IN")%>/night</p>
  </div>
</div>
  <% }) %>
  </a>
</div>

<a href="/Listings/New">
  <button type="button">New Listing!</button>
</a>
