<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Listings</title>
</head>
<body>
    <h1>All Listings</h1>
    <uL>
           <% for(let i=0;i<allListings.length;i++){ %>
           <li><a href="http://localhost:3000/Listings/<%=allListings[i]._id%>"><%=allListings[i].title%></a></li>
           <%}%>
    </uL>
    <form action="/Listings/New" method="get">
        <button>New Listings!</button>
    </form>
</body>
</html>