<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create An New Listings</title>
</head>
<body>
    <form action="/Listings/New" method="post">
        <label for="title">Enter Your Title!</label>
        <input id="title" name="title" type="text">
        <label for="desc">Enter Your Description!</label>
        <input id="desc" name="description" type="text">
        <label for="image">Enter Your Image URL!</label>
        <input id="image" name="image" type="text">
        <label for="price">Enter Your Price!</label>
        <input id="price" name="price" type="text">
         <label for="location">Enter Your location!</label>
        <input id="location" name="location" type="text">
         <label for="country">Enter Your country!</label>
        <input id="country" name="country" type="text">
        <button type="submit">Submit!</button>
    </form>
</body>
</html>