<% layout("layouts/boilerplate") %>

  <br>
  <br>
   <form action="/Listings/New?_method=post" method="post"   class="NewListing needs-validation" novalidate enctype="multipart/form-data">
  <div class="mb-3">
    <label for="title" class="form-label">title</label>
    <input placeholder="Enter Title" type="text" class="form-control" id="title" aria-describedby="emailHelp" name="title" required>
    <div class="valid-feedback">Looks Good!</div>
    <div class="invalid-feedback">Enter An Valid Title</div>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input placeholder="Enter Description"  type="text" class="form-control" id="description" name="description" required>
    <div class="valid-feedback">Looks Good!</div>
    <div class="invalid-feedback">Enter An Valid Description!</div>
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Upload An Listing image </label>
    <input  placeholder="Enter Img URL" type="file" class="form-control" id="image" name="image" required>
    <div class="valid-feedback">Looks Good!</div>
    <div class="invalid-feedback">image is Mandatory!</div>
  </div>
   <div class="mb-3">
    <label for="price" class="form-label">price</label>
    <input  placeholder="Enter price" type="text" class="form-control" id="price" name="price" required>
    <div class="valid-feedback">Looks Good!</div>
    <div class="invalid-feedback">Enter An Valid price</div>
  </div>
   <div class="mb-3">
    <label for="location" class="form-label">location</label>
    <input  placeholder="Enter location" type="text" class="form-control" id="location" name="location" required>
    <div class="valid-feedback">Looks Good!</div>
    <div class="invalid-feedback">location is Mandatory!</div>
  </div>
  <div class="mb-3">
    <label for="country" class="form-label">country</label>
    <input  placeholder="Enter Country Name" type="text" class="form-control" id="country" name="country" required>
    <div class="valid-feedback">Looks Good!</div>
    <div class="invalid-feedback">Please Enetr An Valid Country Name!</div>
  </div>
   <div class="mb-3">
    <label class="form-label">Categoery</label>
    <input  placeholder="Enter Categoery of Listing" type="text" name="categoery" class="form-control"  required>
  <div class="valid-feedback">Looks Good!</div>
    <div class="invalid-feedback">Please Enetr An Valid Country Name!</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input  placeholder="Enter e-mail" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
 
  <button type="submit" class="btn btn-primary add-btn">Submit</button>
</form>
<br>
<br>


