<% layout("layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-6 offset-3">
        <div><h1>SignUp for Wonderlust!</h1>
    <form action="/signup" method="post" class="needs-validation" novalidate>



<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">username</label>
  <input type="username" name="username"  required  class="form-control" id="exampleFormControlInput1" placeholder="xyz">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" name="email_id" class="form-control" required id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">password</label>
  <input type="password" name="password" required class="form-control" id="exampleFormControlInput1" placeholder="pass@123">
</div>

<button class="btn btn-primary add-btn">SignUp</button>
</div>
</form>
</div></div>
